LLM_MODEL=
LLM_API_KEY=
LLM_OPENAI_EMBEDDING_MODEL=

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_DATABASE_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_DB_PREFIX=
CLOUDFLARE_VECTORIZE_INFO_HUB_INDEX=

# Config
LOG_LEVEL=
STATISTIC_DATA_LIMIT=

# Server
VITE_MASTRA_BASE_URL=