LLM_MODEL=
LLM_API_KEY=
LLM_OPENAI_EMBEDDING_MODEL=

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_DATABASE_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_DB_PREFIX=
CLOUDFLARE_VECTORIZE_INFO_HUB_INDEX=

# Firebase
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Firebase Admin (server-side)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Config
LOG_LEVEL=
STATISTIC_DATA_LIMIT=

# Server
VITE_MASTRA_BASE_URL=